################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ADMINISTRATIVNI Modul/bin/Debug
/ADMINISTRATIVNI Modul/obj
/packages
