################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ADMINISTRATIVNI Modul/bin/Debug
/ADMINISTRATIVNI Modul/obj
/API/bin/Debug
/API/obj
/JAVNI Modul/bin/Debug
/JAVNI Modul/obj
/packages
