@model ChangePasswordViewModel

@{
    var userId = ViewBag.UserId as string;
}

<div class="PushDown">
    <h1 class="mb-5 mt-5">Change Password</h1>

    <form id="changePasswordForm" method="post">
        <div class="form-group mb-3">
            <label for="CurrentPassword" class="mb-2">Current Password:</label>
            <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" required>
        </div>
        <div class="form-group mb-3">
            <label for="NewPassword" class="mb-2">New Password:</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
        </div>
        <div class="form-group mb-3">
            <label for="ConfirmNewPassword" class="mb-2">Confirm New Password:</label>
            <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required>
        </div>
        <button type="button" id="changePasswordBtn" class="btn btn-primary">Change Password</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#changePasswordBtn').click(function () {
            var currentPassword = $('#CurrentPassword').val();
            var newPassword = $('#NewPassword').val();
            var confirmNewPassword = $('#ConfirmNewPassword').val();

            if (newPassword !== confirmNewPassword) {
                alert('New password and confirm password must match.');
                return;
            }

            var userId = '@userId'; 

            $.ajax({
                url: 'https://localhost:7156/api/User/changePassword/' + userId + '/' + currentPassword + '/' + newPassword,
                type: 'POST',
                success: function (response) {
                    alert(response); 
                    window.location.href = '/User/Account'; 
                },
                error: function (xhr, status, error) {
                    console.error(xhr);
                    console.error(status);
                    console.error(error);
                    alert('An error occurred. Please check the console for more details.');
                }

            });
        });
    });
</script>

<style>
    .PushDown {
        margin-top: 150px;
    }

    .form-control {
        background-color: rgb(0, 0, 0, 0.3);
        color: #fff;
        border: none !important;
        border-radius: 50px;
        width: 50%;
    }

    .btn-primary {
        background-color: rgb(0, 0, 0, 0.4);
        border: none;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        border-radius: 50px;
        transition: transform 0.3s ease, color 0.3s ease;
    }

        .btn-primary:hover {
            transform: scale(1.1);
        }
</style>
