<link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />


<h1 class="mb-4 pind">
    Posts <a asp-controller="Post" asp-action="Create" class="btn btn-primary newposss">Create New Post</a>

</h1>

<div class="container-fluid data">
    <div class="row">
        @foreach (Post postModel in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <a asp-action="Details" asp-route-id="@postModel.Id" class="post-link">
                            <img src="data:image/png;base64,@postModel.PostImage" class="img-fluid" alt="Post Image" />
                            <p class="post-title">@postModel.Title</p>
                            <p class="post-content">@postModel.Description</p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



