.PushDown {
    margin-top: 150px;
}

.form-control {
    background-color: rgb(0, 0, 0, 0.3);
    color: #fff;
    border: none !important;
    border-radius: 50px;
    width: 50%;
}

.btn-primary {
    background-color: rgb(0, 0, 0, 0.4);
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    transition: transform 0.3s ease, color 0.3s ease;
}

    .btn-primary:hover {
        transform: scale(1.1);
    }


